<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sale.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sale.email %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @sale.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @sale.longitude %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
